{% extends "netdev/base.html" %}
{% load i18n %}

{% block title %}Diretórios{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Lista de Diretórios</h1>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'repository_index' %}">Início</a></li>
        <li role="presentation" class="active"><a href="{% url 'category_list' %}">Diretórios</a></li>
        <li role="presentation"><a href="{% url 'add_file' %}">Adicionar Arquivo</a></li>
        <li role="presentation"><a href="{% url 'add_filecat' %}">Novo Diretório</a></li>
    </ul>

<br>
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3">Nome</div>
                <div class="col-md-5">Descrição</div>
                <div class="col-md-1 text-center">Arquivos</div>
                <div class="col-md-3 text-center">Ultima Atualização</div>
            </div>
        </div>
    <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3"><a href="{% url 'category_view' category.id %}">{{ category.name }}</a></div>
                                <div class="col-md-5">{{ category.description |truncatewords:8 }}</div>
                                 <div class="col-md-1 text-center">{{ category.count_files }}</div>
                                 <div class="col-md-3 text-center">{{ category.last_mod }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
{% endblock %}
