{% extends 'netdev/base.html' %}

{% load staticfiles %} <!-- New line -->

{% block title %}Redefinir Senha{% endblock %}

{% block body_block %}

    <div class="page-header" xmlns="http://www.w3.org/1999/html">
        <h1>Redefinir Senha</h1>
    </div>

    <br>
    <form role="form" class="form-signin" id="change_password" method="post" action="">
        <div class="row">
            <div class="col-md-8">
                {% csrf_token %}


                {% if error1 %}
                    <div class="form-group has-error">
                        <label class="control-label" for="pass">Senha Atual</label>
                        <input type="password" class="form-control" id="pass" name="current_password" required>

                        <p class="help-block">Senha incorreta!</p></div>
                {% else %}
                    <label for="pass">Senha Atual</label>
                    <input type="password" class="form-control" id="pass" value="{{ pass }}" name="current_password" required/>
                    <p class="help-block"></p>
                {% endif %}

                {% if error2 %}
                    <div class="form-group has-error">
                        <label for="newpass">Nova Senha</label>
                        <input type="password" class="form-control" id="newpass" name="new_password" required/>
                        <label for="newpass2">Confirmar Senha</label>
                        <input type="password" class="form-control" id="newpass2" name="new_password2" required/>

                        <p class="help-block">As senhas estão diferentes!</p></div>
                {% else %}
                    <label for="newpass">Nova Senha</label>
                    <input type="password" class="form-control" id="newpass" value="{{ pass2 }}" name="new_password" required/>
                    <label for="newpass2">Confirmar Senha</label>
                    <input type="password" class="form-control" id="newpass2" value="{{ pass2 }}" name="new_password2" required/>
                    <p class="help-block"></p>
                {% endif %}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary btn-block" type="submit">Salvar Alterações</button>
            </div>
        </div>
    </form>

{% endblock %}