{% extends 'netdev/base.html' %}

{% load staticfiles %} <!-- New line -->

{% block title %}Senha alteradad{% endblock %}

{% block body_block %}
        <div class="page-header">
            <h1>Senha Alterada!</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <span class="sr-only">Senha alterada</span>
                   Senha alterada com sucesso!
                </div>
            </div>
        </div>

    <a href="{% url 'view_account' %}" class="btn btn-primary" name="back">
        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Voltar
    </a>
{% endblock %}

