{% extends 'netdev/base.html' %}

{% load staticfiles %} <!-- New line -->

{% block title %}Index{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>{{ public_user.username }}</h1>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'public_profile' public_user.username %}">Perfil de Usuário</a></li>
        <li role="presentation" class="active"><a href="{% url 'profile_status' public_user.username %}">Publicações</a></li>
        <li role="presentation"><a href="{% url 'profile_friends' public_user.username %}">Amigos</a></li>
        <li role="presentation"><a href="{% url 'public_repository' public_user.username %}">Repositório</a></li>

    </ul>
    <br>

    {% for update in updates %}
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="col-md-2">
                        <a href="{% url 'public_profile' public_user %}">
                            <img class="img-responsive"
                                 src="/netdev{{ MEDIA_URL }}{{ public_user_profile.picture }}"
                                 alt="profile_image">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a href="{% url 'public_profile' update.user %}">
                            <strong>{{ public_user_profile.display_name }}</strong>
                        </a> - {{ update.date }}
                        {% if user == public_user %}
                            <span style="padding-left: 5%"></span>
                        <a href="{% url 'edit_status' update.id %}" class="btn btn-sm btn-primary" name="edit">Editar</a>
                            <span style="padding-left: 2%"></span>
                        <a href="{% url 'remove_status' update.id %}" class="btn btn-sm btn-primary" name="remove">Remover</a>
                        {% endif %}
                        <br>
                        {{ update.text }}
                    </div>
                </div>
            </div>
        </div>


    {% endfor %}

{% endblock %}

