{% extends "netdev/base.html" %}
{% load i18n %}

{% block title %}Meu Repositório{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Repositorio</h1>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'public_profile' public_user.username %}">Perfil de Usuário</a></li>
        <li role="presentation"><a href="{% url 'profile_status' public_user.username %}">Publicações</a></li>
        <li role="presentation"><a href="{% url 'profile_friends' public_user.username %}">Amigos</a></li>
        <li role="presentation" class="active"><a href="{% url 'public_repository' public_user.username %}">Repositório</a></li>

    </ul>
    <br>
    <div class="row container-fluid">
        {% for category in categories %}
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a style="color: white" href="{% url 'category_view' category.category.id %}">{{ category.category.name }}</a>
                    </div>
                    <div class="panel-body">
                        {% if category.is_empty %}
                            <div class="alert alert-warning" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Aviso:</span>
                         Ainda não existe arquivos nesse diretório!
                        </div>

                        {% else %}
                            {% for object in files %}
                                {% if object.category == category.category %}
                                    {% if object.public %}
                                    <div class="col-md-4">
                                        <div class="panel panel-primary">
                                            <div class="panel-body">
                                                <div class="col-md-3">
                                                    <a href="{% url 'view_file' object.id %}"><img
                                                            class="img-responsive"
                                                            src="netdev/{{ object.front.url }}"
                                                            alt="File image"
                                                            title="{{ object.name }}"/></a>
                                                </div>
                                                <div class="col-md-8"><strong><a
                                                        href="{% url 'view_file' object.id %}">{{ object.name }}</a></strong>

                                                    <p>{{ object.description|truncatewords:10 }}...</p></div>

                                                    <span class="glyphicon glyphicon-eye-open"
                                                          aria-hidden="true"></span>

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}


                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-md-8">
            <div class="alert alert-warning" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Aviso:</span>
                      Esse usuário ainda não possui arquivos públicos!
                        </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
