{% extends 'netdev/base.html' %}

{% load staticfiles %} <!-- New line -->

{% block title %}Amigo Removido{% endblock %}

{% block body_block %}
    {% if success %}
        <div class="page-header">
            <h1>Amigo removido com sucesso</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="sr-only">Amigo removido</span>
                    {{ public_user_profile.display_name }} não é mais seu amigo!
                </div>
            </div>
        </div>
    {% else %}
        <div class="page-header">
            <h1>Amigo não removido</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="sr-only">Amigo removido</span>
                    {{ public_user_profile.display_name }} nunca esteve na lista de amigos!
                </div>
            </div>
        </div>

    {% endif %}

    <a href="{% url 'public_profile' public_user %}" class="btn btn-primary" name="back">
        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Voltar
    </a>
{% endblock %}

