{% extends 'netdev/base.html' %}

{% load staticfiles %}

{% block title %}Termos de Aceitacao{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Termos de Aceitação</h1>
    </div>
    <div class="col-md-8">
        <p class="text-justify"> O NetDev é uma rede social com foco em networking entre desenvolvedores brasileiros.
            Para poder participar da rede, cada usuário deve se cadastrar no sistema, inserindo seus dados pessoais. O
            tratamento dos dados relacionados à rede e a privacidade são descritos na Política de Dados;</p>

        <p class="text-justify">A conclusão do cadastro significa que o usuário concorda com o Termo de aceitação;</p>

        <p class="text-justify">Cada usuário é responsável por todo o conteúdo que adiciona à rede;</p>

        <p class="text-justify">Se um usuário apresentar comportamento considerado malicioso pelos administradores da
            rede, como publicar textos ofensivos ou ofender outros usuários, poderá ser punido com a expulsão da
            rede;</p>

        <p class="text-justify">Caso um usuário esteja sendo vítima de comportamento malicioso por parte de outro
            usuário, poderá contatar os administradores do sistema contendo provas das ações maliciosas, para que as
            devidas ações sejam tomadas. Entre os principais comportamentos considerados maliciosos, estão:</p>
        <ul>
            <li>Ofender, difamar ou incomodar um usuário da rede;</li>
            <li>Divulgar informações falsas de qualquer cunho;</li>
            <li> Praticar o “spam”, ou seja, publicar conteúdo de forma exagerada de propósito;</li>
            <li>Colocar em seu repositório pessoal arquivos maliciosos, como vírus;</li>
            <li>Utilizar informações ofensivas em seu perfil, como nome ou fotos obscenos;</li>
            <li>Publicar conteúdo ofensivo no fórum.</li>
        </ul>
        <p class="text-justify">De uma forma geral, qualquer atitude ou comportamento prejudiciais aos usuários ou ao
            bom funcionamento da rede são passíveis de punição.</p>
        <ul>
            <li>Qualquer publicação feita por um usuário deve seguir as leis brasileiras e internacionais, se
                aplicáveis, sendo o usuário totalmente responsável pelo conteúdo publicado e passível de punição de
                acordo com estas leis;
            </li>
            <li>Vale ressaltar as leis de direitos autorais, que também devem ser seguidas pelos usuários. É
                recomendado, portanto, que o usuário indique a autoria de suas publicações e diretrizes quanto à
                divulgação, utilização e alteração do conteúdo publicado. Porém, essa indicação é opcional.
            </li>
        </ul>
    </div>
{% endblock %}