{% extends 'netdev/base.html' %}

{% load staticfiles %} <!-- New line -->

{% block title %}Caixa de Entrada{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Minhas Mensagens</h1>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'inbox' %}">Caixa de Entrada</a></li>
        <li role="presentation"><a href="{% url 'outbox' %}">Caixa de Saída</a></li>
        <li role="presentation"><a href="{% url 'new_message' %}">Nova Mensagem</a></li>
    </ul>
    <br>
    <div class="col-md-10">
 <div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  <strong>De: {{ message.sender }}</strong>, em {{ message.date }}
     <br>Para: {{ message.recipient }}
</div>
        <h3>Assunto<br>
            <small>{{ message.title }}</small>

        <br><br>Texto<br>
            <small>{{ message.text }}</small>
        </h3>
    </div>
{% endblock %}
