{% extends 'netdev/base.html' %}

{% load staticfiles %} <!-- New line -->

{% block title %}Caixa de Entrada{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Minhas Mensagens</h1>
    </div>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="{% url 'inbox' %}">Caixa de Entrada</a></li>
      <li role="presentation"><a href="{% url 'outbox' %}">Caixa de Saída</a></li>
      <li role="presentation" class="active"><a href="{% url 'new_message' %}">Nova Mensagem</a></li>
    </ul>
    <br>

    <label for="inputTitle">Assunto</label>
                        <input class="form-control" value="" id="inputTitle" maxlength="100" name="location"
                               type="text" autofocus=""/>
                        <label for="inputText">Texto</label>
                        <textarea class="form-control" rows="10" id="inputText" name="academics"
                                  autofocus="">message.title</textarea>



{% endblock %}
