{% extends 'netdev/base.html' %}

{% load staticfiles %} <!-- New line -->

{% block title %}Caixa de Entrada{% endblock %}


{% block body_block %}

    <script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('message');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>


    <div class="page-header">
        <h1>Minhas Mensagens</h1>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'inbox' %}">Caixa de Entrada</a></li>
        <li role="presentation"><a href="{% url 'outbox' %}">Caixa de Saída</a></li>
        <li role="presentation" class="active"><a href="{% url 'trash' %}">Lixeira</a></li>
        <li role="presentation"><a href="{% url 'new_message' %}">Nova Mensagem</a></li>
    </ul>
     <br>
          <form id="checkall" action="{% url 'trash' %}" method="post">
      {% csrf_token %}
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-4">Assunto</div>
                <div class="col-md-2 text-right">Remetente</div>
                <div class="col-md-3 text-right">Data</div>
                 <div class="col-md-2 text-right">Selecionar Todos</div>
                <input type="checkbox" onClick="toggle(this)" />
              </div>
        </div>
            {% if inbox %}
                <ul class="list-group">
                    {% for message in inbox %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-5"><a href="{% url 'message' message.id %}">{{ message.title }}</a></div>
                                <div class="col-md-3">{{ message.sender }}</div>
                                <div class="col-md-3">{{ message.date }}</div>
                                <input type="checkbox" name="message" value="{{ message.id }}" />
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

                <div class="row">
                                <button class="btn btn-primary" type="submit" name="delete">Deletar Selecionados</button>
                <button class="btn btn-primary" type="submit" name="restore">Restaurar Selecionados</button>
                    </div>

        {% else %}
                </div>
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Aviso</span>Você ainda não possui mensagens!
                </div>

        {% endif %}

          </form>

{% endblock %}