{% extends 'netdev/base.html' %}

{% load bootstrap3 %} <!-- New line -->

{% block title %}Nova Resposta{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Nova Resposta</h1>
    </div>
<div class="col-md-8">
        <form id="category_form" method="post" action="">

            {% csrf_token %}
            {% bootstrap_form post_form %}
        <button class="btn btn-primary" type="submit" value="Create Topic">Nova Resposta</button>
        </form>
        </div>
{% endblock %}
